{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome To My Midterm Exam! (I Tried)</h1>
  <p>Please go to my Contact Page. I want to hear from you!</p>
  <p><a href="{% url 'contact_create' %}" class="btn btn-lg btn-primary">Submit Contact Form</a></p>
</div>
  <p> Hello! My name is Andrew Stengel, and I am a Junior CIS Major with a minor in Sports Studies here at QU. I am also the Vice President of Pi Kappa Phi Fraternity on campus, and a member of the CIS Society. In my spare time, I am a die-hard New York Mets fan, and am anxiously waiting for the World Series to begin on Tuesday! Please fill out the contact form above! </p>
{% endblock %}